<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form>
        <label >Email</label>
        <input type="text" id="email"><br><br>
        <label >Create New Password</label> 
        <input type="text" id="newpassword"><br><br>
        
        <input type="submit" id="submit">


    </form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const email=document.getElementById('email')
    const newpassword=document.getElementById('newpassword');
    const submit=document.getElementById('submit')

    submit.addEventListener('click',(e)=>{
        e.preventDefault()
        axios.post('http://localhost:5000/passwordrequest/update',{
            email:email.value,
            password:newpassword.value
        }).then((result) => {
            alert('Password changed successfully')
            location.replace('http://127.0.0.1:5500/login/login.html')
        }).catch((err) => {
            console.log(err);
        });
    })
</script>

</body>
</html>